<table class="table table-responsive">
  <tr>
    <th>Runda</th>
    <th>Status</th>
  </tr>
  <% @rounds.each do |round| %>
  <tr>
    <td><%= "Runda #{round.id}" %></td>
    <td><%= round.status %></td>
  </tr>
  <% end %>
</table>

