<table class="table table-responsive">
  <tr>
    <th>Runda</th>
    <th>Status</th>
  </tr>
  <% @rounds.each do |round| %>
  <tr>

    <td><%= link_to "Runda #{round.id}", show_round_path(round) %></td>
    <td><%= round.status %></td>
  </tr>
  <% end %>
</table>

