<%= simple_form_for :end_round, url: { action: :update, controller: 'match_results', round: params[:id] }, method: :patch do |f| %>
<table class="table table-responsive">
  <tr>
    <th>Mecz</th>
    <th>Drużyna 1</th>
    <th>Wynik dla Drużyny 1</th>
    <th>Drużyna 2</th>
    <th>Wynik dla Drużyny 2</th>
  </tr>

  <%= render 'listing_match_results', f: f %>

</table>
<%= f.button :submit, 'Zamknij Rundę', style: 'float:right', :class => 'btn btn-large btn-primary' %>
<% end %>